*{
    box-sizing: border-box;
}

body{
    background: rgb(97, 179, 255);
    padding: 0;
    margin: 0;
    overflow: hidden;
}

.code-container {
    position: relative;
    width: calc(32px * 12);
    height: calc(32px * 7);
    margin: 20px;
}

.game-container {
    position: relative;
    width: calc(32px * 12);
    height: calc(32px * 7);
    margin: 0 auto;
    outline: 1px solid #fff;

    transform: scale(2) translateY(50%);
}

.game-container canvas {
    image-rendering: pixelated;
}
